body {
  background: black;
  margin: 1% 10%;
  font-family: 'Dancing Script', cursive;
  animation-name: rebote;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-timing-function: ease;
}
@keyframes rebote {
0% {
  margin-top: 150%;
}
60% {
  margin-top: -5%;
}
100% {
  margin-top: 0%;
}
}
#menu{
float: right;
}
.navegador{
  display: -webkit-box;
  margin-top: -2.5rem;
  margin-right: 1rem
}
.navegador li {
  margin-left: 5px;
  margin-right: 5px;
}
#Encabezado {
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
#Encabezado h1 {
  color: #fff;
  text-shadow: 2px 2px 0px #02010a;
  font-size: 5vh;
}
#Encabezado a {
  color: #fff
}
.Nombre_Sitio{
  text-align: left;
  text-shadow: 2px 0px 0px #02010a;
  margin: auto;
  padding: 10px;
}
.active {
  text-decoration: none;
}
.content2 {
  display: flex;
  background: #d5c75f;
  border: 1px;
}
.Foto1{
background: #82c3a6;
padding: 3% 10%;
}
.Foto2{
padding: 5%;
width: 40%;
}
.ImgCentral{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.image{
  box-shadow: 2px 2px 0px #02010a;
}
.rotar:hover {
  transform: rotatez(10deg);
  border: 2px;
  box-shadow: 2PX 2PX 0PX #82c3a6;
  transition: 0.5s;
}
.transladar:hover {
  transform: translate(20px, -5px);
  border: 2px;
  box-shadow: 2PX 2PX 0PX #82c3a6;
  transition: 0.5s;
}
#piepagina{
  display: flex;
  padding: 5%;
  background: #C6d5c5;
}
.row{
  margin: auto;
  text-align:center;
  margin-right: 1rem;
}
