body {
  background: black;
  margin: 1% 10%;
  font-family: 'Dancing Script', cursive;
  animation-name: rebote;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-timing-function: ease;
}
@keyframes rebote {
0% {
  margin-top: 150%;
}
60% {
  margin-top: -5%;
}
100% {
  margin-top: 0%;
}
}
}
#menu{
float: right;
}
.navegador{
  display: -webkit-box;
  margin-top: -2.5rem;
  margin-right: 1rem
}
.navegador li {
  margin-left: 5px;
  margin-right: 5px;
}
#Encabezado {
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
#Encabezado h1 {
  color: #fff;
  text-shadow: 2px 2px 0px #02010a;
  font-size: 5vh;
}
#Encabezado a {
  color: #fff
}
.Nombre_Sitio{
  text-align: left;
  text-shadow: 2px 0px 0px #02010a;
  margin: auto;
  padding: 10px;
}
.active {
  text-decoration: none;
}
#contenido{
  display: flex;
  background: #d5c75f;
  border: 1px;
  flex-direction: row;
  flex-wrap: wrap;
}
.Foto2{
 padding: 2%;
 width: 28%;
 flex-grow: 2;
}
.image{
  box-shadow: 2px 2px 0px #02010a;
}
.blur{
  -webkit-filter: blur(35px);
  filter: blur(10px);
}
.invertir{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.sepia{
  -webkit-filter: sepia(90%);
    filter: sepia(90%);
}
#piepagina{
  display: flex;
  padding: 5%;
  background: #C6d5c5;
}
.row{
  margin: auto;
  text-align:center;
  margin-right: 1rem;
}
