body {
  background: black;
  margin: 1% 10%;
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
}
#Encabezado {
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
#Encabezado h1 {
  color: #fff;
  text-shadow: 2px 2px 0px #02010a;
  padding-top: 2.5%;
}
#Encabezado a {
  color: #fff
}
.Nombre_Sitio{
  text-align: left;
  text-shadow: 2px 0px 0px #02010a;
  margin: auto;
  padding: 10px;
}
.active {
  text-decoration: none;
}
.content2 {
  display: flex;
  background: #d5c75f;
  border: 1px;
  flex-flow: row wrap;
}
.Foto1{
background: #82c3a6;
padding: 3% 10%;
}
.Foto2{
padding: 5%;
width: 40%;
}
.Foto3{
padding: 5%;
width: 40%;
}
.ImgCentral{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.image{
  box-shadow: 2px 2px 0px #02010a;
}
.rotar:hover {
  transform: rotatez(10deg);
  border: 2px;
  box-shadow: 2PX 2PX 0PX #82c3a6;
  transition: 0.5s;
}
.transladar:hover {
  transform: translate(20px, -5px);
  border: 2px;
  box-shadow: 2PX 2PX 0PX #82c3a6;
  transition: 0.5s;
}
#piepagina{
  display: flex;
  flex-flow: row wrap;
  padding: 5%;
  background: #C6d5c5;
}
.row1{
  order:1;
  flex-grow: 2;
}
.row2{
  order:2;
  flex-grow: 2;
}
.row3{
  order:3;
  flex-grow: 2;
}
.row4{
  order:4;
  flex-grow: 2;
}
